body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #b76aff;
  margin: 15px 0; 
  font-size: 1.5em; 
}

.background-gray {
  background-color: rgb(246, 246, 239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

.content-table {
  border-collapse: collapse; 
  margin: 25px 0; 
  font-size: 1em; 
  font-family: sans-serif; 
  min-width: 450px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr { 
  background-color: #5e5074; 
  color: #ffffff; 
  text-align: middle; 
}

.content-table th, .content-table td { 
  padding: 12px 15px; 
}

.content-table tbody tr { 
  border-bottom: 1px solid #dddddd; 
} 

.content-table tbody tr:nth-of-type(even) { 
  background-color: #f3f3f3; 
} 

.content-table tbody tr:last-of-type { 
  border-bottom: 2px solid #009879; 
}

.img-logo {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  border-radius: 80px;
}

.border-img {
  border: 5px solid transparent;
}

.pinterest-btn {
  display: inline-block;
  height: 36px;
  padding: 0 12px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
}

.pinterest-btn--black {
  color: #fff;
  background-color: #000000;
  border: none;
}

.boton-ia {
  display: inline-block;
  height: 36px;
  padding: 0 12px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 600;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #000000;
  border: none;
}